.page
{
  display: flex;
}
.shadow{
  border-top: 4px purple;
  box-shadow: 1px 1px 5px 2px #d4c5c5;
  overflow: hidden;
}
.row{
  
  margin-top: 50px;
}
.style{
  font-style: italic;
}
.final{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}